header{
    background-color: red;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    text-align: center;
}

li{
 
    display: inline;
    align-items: baseline;
    margin: 1rem;
    cursor: pointer;
}
