header{
    background-color: red;
    margin-right: 2 rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    margin: 1rem;
}

li{

    display: inline;
    align-items: baseline;
    margin: 1rem;
    cursor: pointer;
}
