header{
    margin: 0rem;
    background-color: red;
    color: antiquewhite;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    margin-left: 1rem;
}

li{

    display: inline;
    align-items: baseline;
    margin: 1rem;
    cursor: pointer;
}
